header {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, button {
    margin: 5px 0;
    text-align: center;
    width: 200px;
}

section {
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    border: solid black;
    border-radius: 10px;
    padding: 3%;
    margin: auto;
    width: fit-content;
    
    
}